In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

plt.rcParams['axes.facecolor'] = 'white'
plt.rcParams['figure.facecolor'] = 'white'

In [17]:
income_file = 'data/income/17zpallagi.csv'
zip_code_file = "data/income/us zip codes.csv"

income_df = pd.read_csv(income_file)
zip_code_df = pd.read_csv(zip_code_file)



city_list = ['Miami', 'Minneapolis', 'Chicago', 'Houston', 'San Antonio', 'New York', 'Seattle', 'Nashville', 'San Francisco', 'Atlanta']
state_list = ['FL', 'MN', 'IL', 'TX', 'TX', 'NY', 'WA', 'TN', 'CA', 'GA']
renamed_zip_df = zip_code_df.rename(columns = {'zip':'zipcode'})
print(income_df)

        STATEFIPS STATE  zipcode  agi_stub    A00100  N02650    A02650
0               1    AL        0         1  10467448  802640  10626881
1               1    AL        0         2  17977581  499070  18153235
2               1    AL        0         3  16502473  268590  16659518
3               1    AL        0         4  14817087  170900  14951547
4               1    AL        0         5  31131390  229850  31461757
...           ...   ...      ...       ...       ...     ...       ...
166532         56    WY    99999         2    132401    3630    133833
166533         56    WY    99999         3    152256    2470    153790
166534         56    WY    99999         4    157779    1820    159192
166535         56    WY    99999         5    328980    2480    333132
166536         56    WY    99999         6    459890     700    469004

[166537 rows x 7 columns]

In [15]:
selected_df = pd.DataFrame( columns=['zipcode', 'city', 'STATE', 'agi_stub', 'A02650', 'N02650'] )
average_income = []
merge_df = income_df.merge(renamed_zip_df, on = 'zipcode')
cleaned_merge_df = merge_df[['zipcode','city', 'STATE', 'agi_stub', 'A02650']]
cleaned_merge_df.head()


for city in range(len(city_list)):
    
    selected_city_df = cleaned_merge_df.loc[cleaned_merge_df['city'] == city_list[city]]
    selected_state_df = selected_city_df.loc[selected_city_df['STATE']== state_list[city]]
    selected_df = selected_df.append(selected_state_df)
    
    average_city_income = round(selected_state_df['A02650'].mean(), 2)
    average_income.append(average_city_income)
        

average_df = pd.DataFrame(columns = ['city','average income'])
average_df['city'] = city_list
average_df['average income'] = average_income

print(selected_df)

      zipcode     city STATE agi_stub  A02650 N02650
24140   33122    Miami    FL        1    4823    NaN
24141   33122    Miami    FL        2    7995    NaN
24142   33122    Miami    FL        3    9034    NaN
24143   33122    Miami    FL        4    9127    NaN
24144   33122    Miami    FL        5   15830    NaN
...       ...      ...   ...      ...     ...    ...
28389   30363  Atlanta    GA        2   13549    NaN
28390   30363  Atlanta    GA        3   22823    NaN
28391   30363  Atlanta    GA        4   17184    NaN
28392   30363  Atlanta    GA        5   42281    NaN
28393   30363  Atlanta    GA        6  104798    NaN

[2866 rows x 6 columns]