In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

plt.rcParams['axes.facecolor'] = 'white'
plt.rcParams['figure.facecolor'] = 'white'

In [3]:
income_file = 'data/income/kaggle_income.csv'


income_df = pd.read_csv(income_file, encoding='latin-1')


print(income_df.head())

city_list = ['Miami', 'Minneapolis', 'Chicago', 'Houston', 'San Antonio', 'New York', 'Seattle', 'Nashville', 'San Francisco', 'Atlanta']
state_list = ['FL', 'MN', 'IL', 'TX', 'TX', 'NY', 'WA', 'TN', 'CA', 'GA']

        id  State_Code State_Name State_ab          County            City  \
0  1011000           1    Alabama       AL   Mobile County       Chickasaw
1  1011010           1    Alabama       AL  Barbour County      Louisville
2  1011020           1    Alabama       AL   Shelby County      Columbiana
3  1011030           1    Alabama       AL   Mobile County         Satsuma
4  1011040           1    Alabama       AL   Mobile County  Dauphin Island

             Place  Type Primary  Zip_Code Area_Code     ALand     AWater  \
0   Chickasaw city  City   place     36611       251  10894952     909156
1        Clio city  City   place     36048       334  26070325      23254
2  Columbiana city  City   place     35051       205  44835274     261034
3      Creola city  City   place     36572       251  36878729    2374530
4   Dauphin Island  Town   place     36528       251  16204185  413605152

         Lat        Lon   Mean  Median  Stdev        sum_w
0  30.771450 -88.079697  38773   30506  33101  1638.260513
1  31.708516 -85.611039  37725   19528  43789   258.017685
2  33.191452 -86.615618  54606   31930  57348   926.031000
3  30.874343 -88.009442  63919   52814  47707   378.114619
4  30.250913 -88.171268  77948   67225  54270   282.320328

In [4]:
selected_df = pd.DataFrame() 
    
for city in range(len(city_list)):
    
    selected_city_df = income_df.loc[income_df['City'] == city_list[city]]
    selected_state_df = selected_city_df.loc[selected_city_df['State_ab']== state_list[city]]
    selected_df = selected_df.append(selected_state_df)
    
   
print(selected_df)

selected_df = selected_df[['State_Name', 'City', 'Zip_Code', 'Lat', 'Lon', 'Mean', 'Median', 'Stdev']]

selected_df.to_csv(r'data/income/Major_Cities_income_by_zip.csv', index = False)

             id  State_Code State_Name State_ab             County     City  \
5915   12011333          12    Florida       FL  Miami-Dade County    Miami
5965   12011833          12    Florida       FL  Miami-Dade County    Miami
6003  120210060          12    Florida       FL     Alachua County    Miami
6004  120210070          12    Florida       FL     Alachua County    Miami
6005  120210080          12    Florida       FL     Alachua County    Miami
...         ...         ...        ...      ...                ...      ...
8374    1302943          13    Georgia       GA     Appling County  Atlanta
8375    1302953          13    Georgia       GA     Appling County  Atlanta
8376    1302963          13    Georgia       GA     Appling County  Atlanta
8377    1302973          13    Georgia       GA     Appling County  Atlanta
8378    1302983          13    Georgia       GA     Appling County  Atlanta

                 Place     Type Primary  Zip_Code Area_Code     ALand  AWater  \
5915     Coral Terrace      CDP   place     33155       305   8701172  186899
5965         Pinecrest  Village   place     33156       305  19290823  225388
6003  Gainesville city    Track   Track     33147       305   1976245   21327
6004  Gainesville city    Track   Track     33150       305   2417895  106111
6005  Gainesville city    Track   Track     33147       305   2503106       0
...                ...      ...     ...       ...       ...       ...     ...
8374       Baxley city    Track   Track     30313       404    796145       0
8375       Baxley city    Track   Track     30303       404   1406159       0
8376       Baxley city    Track   Track     30312       404    393131       0
8377       Baxley city    Track   Track     30311       404   2246955       0
8378       Baxley city    Track   Track     30316       678   3150599       0

            Lat        Lon    Mean  Median  Stdev        sum_w
5915  25.746187 -80.304463   61400   48065  52115  4600.010823
5965  25.665174 -80.304857  136954  129060  87857  2009.594730
6003  25.864077 -80.251666   57207  300000  38645   256.994340
6004  25.853711 -80.220547   66049  300000  26091    63.162994
6005  25.843269 -80.222794   41979   26726  47089   247.921154
...         ...        ...     ...     ...    ...          ...
8374  33.765513 -84.394716   64712   36145  70641   607.934528
8375  33.750944 -84.391657   58996   52296  48895   359.609502
8376  33.744331 -84.383938   28125   17233  31824   458.737530
8377  33.727755 -84.437032   35910   29426  31363  1012.095308
8378  33.718314 -84.358770   64049   43421  58979   754.973567

[1224 rows x 19 columns]

In [6]:
mean_df = selected_df.groupby('City').mean()


mean_df = mean_df[['Mean']]
median_df = selected_df.groupby('City').median()
median_df = median_df[['Median']]

print(mean_df)
print(median_df)
#mean_df.to_csv(r'data/income/mean_income_city.csv')
#median_df.to_csv(r'data/income/median_income_city.csv')

                        Mean
City
Atlanta         76480.661290
Chicago         63975.973154
Houston         68297.500000
Miami           61431.583333
Minneapolis     71931.660377
Nashville       61077.977778
New York        88873.627586
San Antonio     61195.118519
San Francisco  100856.922078
Seattle         85278.707692
                Median
City
Atlanta        51177.0
Chicago        45905.5
Houston        51903.0
Miami          45951.0
Minneapolis    50330.0
Nashville      48392.0
New York       68128.0
San Antonio    46222.0
San Francisco  84786.0
Seattle        75283.0

mean_df = selected_df.groupby('City').mean()


mean_df = mean_df[['Mean']]
median_df = selected_df.groupby('City').median()
median_df = median_df[['Median']]

print(mean_df)
print(median_df)
selected_df.to_csv(r'data/income/mean_income_city.csv', index = False)
selected_df.to_csv(r'data/income/Major_Cities_income_by_zip.csv', index = False)